<div class="i18n-picker" data-pagefind-ignore="all">
  {{ with .Translations }}
    <details class="dropdown">
      <summary>
        {{ $.Site.Language.LanguageCode }}
      </summary>
      <ul>
        {{ range . }}
          <li>
            <a
              href="{{ .RelPermalink }}"
              hreflang="{{ .Language.LanguageCode }}"
            >
              {{ .Language.LanguageCode }}</a
            >
          </li>
        {{ end }}
      </ul>
    </details>
  {{ else }}
    <details class="dropdown">
      <summary>
        {{ T "no_translation" }}
      </summary>
      <ul>
        <li>
          <a href="#">contribute!</a>
        </li>
      </ul>
    </details>
  {{ end }}
</div>
