<details data-pagefind-ignore="all">
  <summary>
    {{ with .Translations }}
      {{ $.Site.Language.LanguageName }}
    {{ else }}
      {{ T "no_translation" }}
    {{ end }}
  </summary>
  <ul>
    {{ range .Translations }}
      <li>
        <a href="{{ .RelPermalink }}" hreflang="{{ .Language.LanguageCode }}">
          {{ .Language.LanguageName }}</a
        >
      </li>
    {{ end }}
    <li>
      <a href="{{ partial "i18n/link" "contributing" }}"
        >{{ T "contribute" }}</a
      >
    </li>
  </ul>
</details>
