<details
  class="border-light bg-dark w-52 rounded-md border open:rounded-b-none"
  data-pagefind-ignore="all"
>
  <summary class="hover:text-accent cursor-pointer p-2">
    {{ with .Translations }}
      {{ $.Site.Language.LanguageName }}
    {{ else }}
      {{ T "no_translation" }}
    {{ end }}
  </summary>
  <ul
    class="border-light bg-dark absolute z-1 w-52 rounded-b-md border p-2 pl-4"
  >
    {{ range .Translations }}
      <li class="pt-1 pb-1">
        <a
          class="hover:text-accent inline-block w-full"
          href="{{ .RelPermalink }}"
          hreflang="{{ .Language.LanguageCode }}"
        >
          {{ .Language.LanguageName }}</a
        >
      </li>
    {{ end }}
    <li class="pt-1 pb-1">
      <a
        class="hover:text-accent inline-block w-full"
        href="{{ partial "i18n/link" "contributing" }}"
        >{{ T "contribute" }}</a
      >
    </li>
  </ul>
</details>
