{{ if eq .Kind "page" }}
  {{ $x := (index (.GetTerms "x") 0) }}
  {{ $y := (index (.GetTerms "y") 0) }}

  {{ if and $x $y }}
    {{ with $x }}
      <a class="hover:text-accent pr-2 underline" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    {{ end }}

    {{ T "in_language" }}

    {{ with $y }}
      <a class="hover:text-accent pl-2 underline" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    {{ end }}
  {{ else }}
    {{ .Title | title }}
  {{ end }}

{{ else if eq .Kind "home" }}
  {{ $tmpl :="<a class=\"hover:text-accent underline px-2\" href=\"%s\">%s</a>" }}
  {{ T "home_title" ( dict
    "x" (printf $tmpl (.RelRef (dict "path" "x")) "X")
    "y" (printf $tmpl (.RelRef (dict "path" "y")) "Y")
    ) | safeHTML
  }}
{{ else if eq .Kind "taxonomy" }}
  {{ .Data.Plural | title }}
{{ else }}
  {{ .Title | title }}
{{ end }}
