#results li a {
  text-decoration: none;
  display: block;
  width: 100%;

  :nth-child(1) {
    text-decoration: underline;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  margin-top: auto;
}
