{{ define "main" }}
  {{ partial "search" . }}


  <section>
    <a href="{{ partial "i18n/link" "contributing" }}">{{ T "contribute" }}</a>
    <a href="{{ partial "i18n/link" "glossary" }}">{{ T "glossary" }}</a>
  </section>

  <section data-pagefind-ignore="all">
    <h2><a href="{{ .RelRef (dict "path" "x") }}">X</a></h2>
    {{ partial "taxonomy/tree" (dict "context" . "root" "x") }}
  </section>

  <section data-pagefind-ignore="all">
    <h2><a href="{{ .RelRef (dict "path" "y") }}">Y</a></h2>
    {{ partial "taxonomy/tree" (dict "context" . "root" "y") }}
  </section>
{{ end }}
