{{ define "main" }}
  {{ .Content }}

  {{ $isExample := eq .Data.Singular "example" }}
  {{ if $isExample }}
    <h2>Languages</h2>
  {{ else }}
    <h2>Examples</h2>
  {{ end }}

  {{ range .Pages }}
    {{ if $isExample }}
      {{ $slug := index .Params.languages 0 }}
      {{ $title :=  (.Site.Taxonomies.languages.Get $slug).Page.Title }}
      <h2><a href="{{ .RelPermalink }}">{{ $title }}</a></h2>
    {{ else }}
      {{ $slug := index .Params.examples 0 }}
      {{ $title :=  (.Site.Taxonomies.examples.Get $slug).Page.Title }}
      <h2><a href="{{ .RelPermalink }}">{{ $title }}</a></h2>
    {{ end }}
  {{ end }}

{{ end }}
