{{ $context := .context }}
{{ $t1 := .root }}

{{ $t2 := "x" }}
{{ if eq $t1 "x" }}
  {{ $t2 = "y" }}
{{ end }}

{{ with (index $context.Site.Taxonomies $t1) }}
  <ul data-pagefind-ignore="all">
    {{ range $term, $taxonomy := . }}
      <li>
        <a href="{{ .Page.RelPermalink }}">
          {{ .Page.Title }}
        </a>
        <ul>
          {{ range $taxonomy.Pages }}
            <li>
              <a href="{{ .RelPermalink }}">
                {{ partial "taxonomy/title" (dict "context" . "taxonomy" $t2) }}
              </a>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
{{ end }}
