{{ $context := .context }}
{{ $t1 := .root }}

{{ $t2 := "x" }}
{{ if eq $t1 "x" }}
  {{ $t2 = "y" }}
{{ end }}

{{ with (index $context.Site.Taxonomies $t1) }}
  <ul class="ml-4 list-disc" data-pagefind-ignore="all">
    {{ range $term, $taxonomy := . }}
      <li>
        <a class="hover:text-accent underline" href="{{ .Page.RelPermalink }}">
          {{ .Page.Title }}
        </a>
        <ul class="flex">
          {{ range $taxonomy.Pages }}
            <li class="mr-1">
              <a class="hover:text-accent underline" href="{{ .RelPermalink }}">
                {{ partial "taxonomy/title" (dict "context" . "taxonomy" $t2) }}
              </a>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
{{ end }}
