:root {
  --color-black: #1d1f21;
  --color-white: #c5c8c6;
  --color-pre-bg: #2d3031;
  --color-accent: #859abc;
  --color-em-accent: #7c9e9b;
  --color-strong-accent: #93b6a4;
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);

  --size-base: 10px;
  --size-border: 1px;
  --size-radius: 5px;

  --border: var(--size-border) solid var(--color-fg);
}

html {
  height: 100%;

  font-family: monospace;
}

body {
  height: 100%;
  max-width: calc(70 * var(--size-base));
  margin-inline: auto;

  font-size: calc(2 * var(--size-base));
  padding: calc(2 * var(--size-base));
  line-height: calc(3.5 * var(--size-base));

  display: flex;
  flex-direction: column;

  word-break: break-word;

  background-color: var(--color-bg);
  color: var(--color-fg);
  justify-content: space-between;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    segoe ui symbol;
}

body > * {
  width: 100%;
  max-width: calc(80 * var(--size-base));
  margin-inline: auto;
}

em {
  color: var(--color-em-accent);
}
strong {
  color: var(--color-strong-accent);
}

a {
  color: var(--color-fg);
}
a:hover {
  color: var(--color-accent);
}

ul {
  padding-left: calc(3 * var(--size-base));
}

details summary {
  text-decoration: underline;
  cursor: pointer;
}
details summary:hover {
  color: var(--color-accent);
}

h1,
h2,
h3 {
  margin-top: calc(2 * var(--size-base));
  margin-bottom: calc(2 * var(--size-base));
}

code,
pre {
  background-color: var(--color-pre-bg);
  border-radius: var(--size-radius);
}

code {
  padding: calc(0.5 * var(--size-base)) calc(1 * var(--size-base));
  vertical-align: middle;
}

pre {
  padding: calc(0.5 * var(--size-base)) calc(1 * var(--size-base));
  margin: calc(0.5 * var(--size-base)) 0;
  background-color: var(--color-pre-bg);
  overflow-x: auto;
}

/* specific */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(3 * var(--size-base));
}

nav svg {
  width: calc(3 * var(--size-base));
  width: calc(3 * var(--size-base));
}

nav svg path {
  fill: var(--color-fg);
}

nav a:nth-child(1):hover svg path {
  fill: var(--color-accent);
}

nav details ul {
  position: absolute;
  list-style-type: none;
  padding-left: 0;
}

footer {
  margin-top: calc(3 * var(--size-base));
}

body main {
  margin-bottom: auto;
}

body.home header {
  margin-top: auto;
  font-size: calc(3 * var(--size-base));
  text-align: center;
  margin-bottom: calc(2 * var(--size-base));
}

body.home main {
  font-size: calc(3 * var(--size-base));
  max-width: calc(60 * var(--size-base));
  margin-inline: auto;
}

body.home main > * {
  width: 100%;
  display: flex;
}

#search {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(2 * var(--size-base));
}

#search-input {
  width: 100%;
  font-size: calc(3 * var(--size-base));
  padding: calc(0.5 * var(--size-base)) calc(1 * var(--size-base));

  background-color: var(--color-pre-bg);
  color: var(--color-fg);
  border: var(--border);
  border-radius: var(--size-radius);
}

#search-results a {
  display: flex;

  justify-content: space-between;
}
