<h2>Programming languages</h2>
{{ with .Site.Taxonomies.languages }}
  <ul>
    {{ range $term, $taxonomy := . }}
      <li>
        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
        <ul>
          {{ range $taxonomy.Pages }}
            <li>
              {{/* Getting the title from the example for prettier rendering */}}
              {{ $slug := index .Params.examples 0 }}
              {{ $title :=  (.Site.Taxonomies.examples.Get $slug).Page.Title }}
              <a href="{{ .RelPermalink }}">{{ $title }}</a>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
{{ end }}
