<footer class="w-xl mx-auto mt-4 flex-none">
  <div>
    {{ with .File }}
      {{ $href := printf "%s/blob/main/content/%s/%s" $.Site.Params.repo $.Lang .Path }}
      <a class="hover:text-accent underline" href="{{ $href }}"> View file </a>
    {{ end }}
    {{ with .GitInfo }}
      &nbsp;| Last updated:
      <a
        class="hover:text-accent underline"
        href="{{ $.Site.Params.repo }}/commit/{{ .Hash }}"
      >
        {{ .CommitDate.Format "2006-02-01" }}
        ({{ .AbbreviatedHash }})
      </a>
    {{ end }}
  </div>

  {{ partial "license" . }}
</footer>
