{{ if eq .Kind "page" }}
  {{ $x := (index (.GetTerms "x") 0) }}
  {{ $y := (index (.GetTerms "x") 0) }}

  {{ if and $x $y }}
    {{ with $x }}
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    {{ end }}

    {{ T "in_language" }}

    {{ with $y }}
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    {{ end }}
  {{ else }}
    {{ .Title }}
  {{ end }}

{{ else if eq .Kind "home" }}
  {{ T "home_title" }}
{{ else if eq .Kind "taxonomy" }}
  {{ .Data.Plural | title }}
{{ else }}
  {{ .Title }}
{{ end }}
